@import '../../app/globals.scss';

.form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.code-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.visualization {
    & button{
        background-color: transparent;
        // opacity: 0.8;
        height: 40px;
        width: 80px;
        color: $rose-quartz
    }

    & button.selected {
        background-color: $rose-quartz;
        color: $black;
    }

    & button:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 0;
    }

    & button:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 0;
    }
}

