// code {
//     font-family: monospace;
//     color: crimson;
//     background-color: #f1f1f1;
//     padding: 2px;
//     font-size: 105%;
//   }
//   pre{
//     width: 80vw;
//     height: 30vh;
//   }
@import '../../app/globals.scss';
div .code *{
    font-family: monospace;
}

div {
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        // background-color: $white;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $rose-quartz; 
        border-radius: 2px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
}