.summary {
    // background-color: red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    & h1,h2,h3 {
        margin:0;
        width: fit-content;
    }

    & p {
        margin:0;
        text-align: left;
        word-break: break-all;
        white-space: normal;
    }
}